<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Route *all* requests through the HTTP Platform Handler -->
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform 
      processPath="%JAVA_HOME%\bin\java.exe" 
      arguments="-jar dropwizard-logback-slf4j-demo-1.0-SNAPSHOT.jar server config.yml" 
      stdoutLogEnabled="false" 
      startupTimeLimit="120"
    />
  </system.webServer>
</configuration>
