<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform 
      processPath="java.exe"
      arguments="-jar D:\home\site\wwwroot\dropwizard-1.0.jar server D:\home\site\wwwroot\config.yml"
      startupTimeLimit="60"
      stdoutLogEnabled="true"
      stdoutLogFile="D:\home\LogFiles\stdout.log" />
  </system.webServer>
</configuration>
